<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5xEVP5TSm-5yZGDQ550vzvdsfAekjOfI</string>
	<key>GCM_SENDER_ID</key>
	<string>505912103072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.campuscollaborate</string>
	<key>PROJECT_ID</key>
	<string>kritiii</string>
	<key>STORAGE_BUCKET</key>
	<string>kritiii.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505912103072:ios:29b2ad806b4c44ddaf79c5</string>
</dict>
</plist>